.navigation-button {
  background: #353535;
  padding: 15px;
  color: #fff;
  width: 30px;
  margin-top: 20px;
  cursor: pointer;
}

#map {
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 0px;
}
